## 협업필터링, 상관분석 
- 호/불호 로만 갈릴 때 사용

In [ ]:
# 참고 : https://dlsdn73.tistory.com/649

In [1]:
import pandas as pd
final = pd.read_csv('./data/jinjaru.csv')
final = final.drop(['Unnamed: 0'],axis=1)

In [40]:
final.head(2)

,user_name,res_name,rating,review,menu,PN,spicy,sweet,sour,saulty,mild,normal,for_vegitarian,for_mania,for_starter
0,KgQnRvsPSrJJTOCp-reYZA,Seoul Garden Korean Restaurant,5,we have been here three times now and have lov...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,1,0,0,1,0,0,1,1,1
1,1goJa-4OKwc--vlISRm54g,Seoul Garden Korean Restaurant,5,seoul garden was excellent. we moved to this ...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,0,1,1

- 파일 불러오고나서 이 코드 한번은 실행해주기~

In [2]:
final['menu'] = final['menu'].apply( eval )

In [42]:
type(final['menu'][0])

list

- 리뷰 값에서 특정 메뉴,표현 함께 뽑아내기(세밀화)

In [5]:
food_eng = ['galbigui',
 'galchigui',
 'godeungeogui',
 'gopchanggui',
 'dakgalbi',
 'deodeokgui',
 'tteokgalbi',
 'bulgogi',
 'samgyeopsal',
 'jangeogui',
 'jogaegui',
 'jogigui',
 'hwangtaegui',
 'hunjeori',
 'gyelangug',
 'tteokguk-mandutguk',
 'muguk',
 'miyeokguk',
 'bugeotguk',
 'siraegiguk',
 'yukgaejang',
 'kongnamulguk',
 'gwamegi',
 'yangnyeomchicken',
 'jeotgal',
 'kongjaban',
 'pyeonyuk',
 'pizza',
 'friedchicken',
 'gatkimchi',
 'kkakdugi',
 'nabakkimchi',
 'musaengchae',
 'baechukimchi',
 'baekkimchi',
 'buchukimchi',
 'yeolmukimchi',
 'oisobagi',
 'chonggakkimchi',
 'pakimchi',
 'gajibokkeum',
 'gosarinamul',
 'miyeokjulgibokkeum',
 'sukjunamul',
 'sigeumchinamul',
 'aehobakbokkeum',
 'gyeongdan',
 'kkultteok',
 'songpyeon',
 'mandu',
 'ramyeon',
 'makguksu',
 'mulnaengmyeon',
 'bibimnaengmyeon',
 'sujebi',
 'yeolmuguksu',
 'janchiguksu',
 'jajangmyeon',
 'jjamppong',
 'jjolmyeon',
 'kalguksu',
 'kongguksu',
 'kkwaligochumuchim',
 'dorajimuchim',
 'dotorimuk',
 'japchae',
 'kongnamulmuchim',
 'hongeomuchim',
 'hoemuchim',
 'gimbap',
 'kimchibokkeumbap',
 'nurungji',
 'bibimbap',
 'saeubokkeumbap',
 'albap',
 'yubuchobap',
 'japgokbap',
 'jumeokbap',
 'gamjachaebokkeum',
 'geonsaeubokkeum',
 'gochujangjinmichaebokkeum',
 'dubukimchi',
 'tteokbokki',
 'rabokki',
 'myeolchibokkeum',
 'sausagebokkeum',
 'eomukbokkeum',
 'ojingeochaebokkeum',
 'jeyukbokkeum',
 'jukkumibokkeum',
 'bossam',
 'sujeonggwa',
 'sikhye',
 'ganjanggejang',
 'yangnyeomgejang',
 'kkaesipjangajji',
 'tteokkkochi',
 'gamjajeon',
 'gyeranmari',
 'gyeranfry',
 'kimchijeon',
 'dongeurangttaeng',
 'saengseonjeon',
 'pajeon',
 'hobakjeon',
 'gopchangjeongol',
 'galchijorim',
 'gamjajorim',
 'godeungeojorim',
 'kkongchijorim',
 'dubujorim',
 'ttangkongjorim',
 'mechurialjangjorim',
 'yeongeunjorim',
 'ueongjorim',
 'jangjorim',
 'kodarijorim',
 'jeonbokjuk',
 'hobakjuk',
 'kimchijjigae',
 'dakgyejang',
 'dongtaejjigae',
 'doenjangjjigae',
 'sundubujjigae',
 'galbijjim',
 'gyeranjjim',
 'kimchijjim',
 'kkomakjjim',
 'dakbokkeumtang',
 'suyuk',
 'sundae',
 'jokbal',
 'jjimdak',
 'haemuljjim',
 'galbitang',
 'gamjatang',
 'gomguk-seolleongtang',
 'maeuntang',
 'samgyetang',
 'chueotang',
 'gochutwigim',
 'saeutwigim',
 'ojingeotwigim',
 'yakgwa',
 'yaksik',
 'hangwa',
 'meongge',
 'sannakji',
 'mulhoe',
 'yukhoe']

In [6]:
taste = ['PN', 'spicy',
       'sweet', 'sour', 'saulty', 'mild', 'normal', 'for_vegitarian',
       'for_mania', 'for_starter']

In [21]:
food_eng
type(food_eng)

list

In [22]:
type(taste)

list

In [34]:
import re 

for food_name in food_eng : 
    for food_taste in taste :
        for idx,value in enumerate(final['review']) :
            str1 = final['review'][idx]
            str2 = 'food_name'+'food_taste'
            a = str1.find(str2)
            while str1[a+1:].find(str2) != -1:
                a = str1[a+1:].find(str2) + a + 1
                
                if a in re.finditer(str2,str1) :
                    print(a.start())

In [ ]:
a = str1.find(str2)
print a
while str1[a+1:].find(str2) != -1:
    a = str1[a+1:].find(str2) + a + 1
    print a

In [30]:
for food_name in food_eng : 
#     print(food_name)
    for food_taste in taste :
#         print(food_taste)
        for idx,value in enumerate(final['review']) :
            print(idx,value)
#             print('---3끝---')
#             print(type(food_taste))
            if food_name&food_taste in list(value) :
#                 print('---4끝---')
                print(idx)

0 we have been here three times now and have loved it each time. it doesn't look like much outside but do not let that stop you from going in. parking can be scarce!

the dumplings are amazing, we love them so much we have ordered a second round. they are crispy and the dipping sauce pushes the flavor over the top.

there is a great variety of banchan. honestly, sometimes i have no clue what i am eating exactly but it tastes so good i do not even care. the kimchi is fresh and well flavored.  the fish banchan is one of our favorites as well as the potato.

we have tried the bbq beef, the beef ribs and the pork belly. we wanted to try the octopus soup tonight but the server said that it was very spicy and my husband can not even handle the kimchi so we opted not.

i love soy bean paste to dip in...you have to ask for it...try it out. it is salty and complex.

TypeError: unsupported operand type(s) for &: 'str' and 'str'

### 데이터 프레임을 딕셔너리로 만들기

In [43]:
import json
final.to_json("./data/all_data_final.json",orient = "records")
test = open("./data/all_data_final.json").read()
js = json.loads(test)

In [44]:
js[0]

{'user_name': 'KgQnRvsPSrJJTOCp-reYZA',
 'res_name': 'Seoul Garden Korean Restaurant',
 'rating': 5,
 'review': "we have been here three times now and have loved it each time. it doesn't look like much outside but do not let that stop you from going in. parking can be scarce!\r\n\r\nthe dumplings are amazing, we love them so much we have ordered a second round. they are crispy and the dipping sauce pushes the flavor over the top. \r\n\r\nthere is a great variety of banchan. honestly, sometimes i have no clue what i am eating exactly but it tastes so good i do not even care. the kimchi is fresh and well flavored.  the fish banchan is one of our favorites as well as the potato. \r\n\r\nwe have tried the bbq beef, the beef ribs and the pork belly. we wanted to try the octopus soup tonight but the server said that it was very spicy and my husband can not even handle the kimchi so we opted not. \r\n\r\ni love soy bean paste to dip in...you have to ask for it...try it out. it is salty and complex.",
 'menu': ['bulgogi',
  'galbigui',
  'kimchijjigae',
  'doenjangjjigae',
  'galbitang'],
 'PN': 0,
 'spicy': 1,
 'sweet': 0,
 'sour': 0,
 'saulty': 1,
 'mild': 0,
 'normal': 0,
 'for_vegitarian': 1,
 'for_mania': 1,
 'for_starter': 1}

In [ ]:
js_dict = dict() 
for key, inner_key in zip()

In [55]:
final.head(2)

,user_name,res_name,rating,review,menu,PN,spicy,sweet,sour,saulty,mild,normal,for_vegitarian,for_mania,for_starter
0,KgQnRvsPSrJJTOCp-reYZA,Seoul Garden Korean Restaurant,5,we have been here three times now and have lov...,"[bulgogi, galbigui, kimchijjigae, doenjangjjig...",0,1,0,0,1,0,0,1,1,1
1,1goJa-4OKwc--vlISRm54g,Seoul Garden Korean Restaurant,5,seoul garden was excellent. we moved to this ...,"[bulgogi, galbigui, kimchijjigae, doenjangjjig...",1,0,0,0,0,0,0,0,1,1

In [56]:
final.columns

Index(['user_name', 'res_name', 'rating', 'review', 'menu', 'PN', 'spicy',
       'sweet', 'sour', 'saulty', 'mild', 'normal', 'for_vegitarian',
       'for_mania', 'for_starter'],
      dtype='object')

In [88]:
menu_list = list(final['menu'])

In [98]:
user_name = list(final['user_name']),
# menu = list(final['menu']),
pn = list(final['PN']),
spicy = list(final['spicy']),
sweet = list(final['sweet']),
sour = list(final['sour']),
saulty = list(final['saulty']),
mild = list(final['mild']),
normal = list(final['normal']),
for_vegitarian = list(final['for_vegitarian']),
for_mania = list(final['for_mania']),
for_starter = list(final['for_starter'])

In [102]:
end_please = final[['PN', 'spicy',
       'sweet', 'sour', 'saulty', 'mild', 'normal', 'for_vegitarian',
       'for_mania', 'for_starter']]

In [164]:
end_please.head(10)

,PN,spicy,sweet,sour,saulty,mild,normal,for_vegitarian,for_mania,for_starter
0,0,1,0,0,1,0,0,1,1,1
1,1,0,0,0,0,0,0,0,1,1
2,1,0,0,0,0,0,1,0,0,0
3,1,0,0,0,0,0,0,0,1,1
4,0,1,0,0,0,1,0,0,0,0
5,1,0,0,0,0,0,0,0,1,0
6,1,1,0,0,1,0,0,0,1,1
7,0,0,0,0,0,0,0,0,1,1
8,1,0,0,0,0,0,0,0,1,1
9,0,0,0,0,0,0,0,1,1,1

In [101]:
small_menu = ['PN', 'spicy',
       'sweet', 'sour', 'saulty', 'mild', 'normal', 'for_vegitarian',
       'for_mania', 'for_starter']

In [169]:
dic = {}

for name in small_menu :
    for idx in range(len(end_please['PN'])) :
        dic[name] = end_please.iloc[idx] 
    break

In [172]:
dic = dict()
# for i in small_menu:
#     for j in range(len(end_please['spicy'])):
# #     print(i,j)
#         dic = { i : end_please.iloc[j]}
#     break

In [167]:
end_please['PN'].iloc[1]

1

In [189]:
from tqdm import tqdm_notebook
dic = dict()
middle_dic = dict()
for k in tqdm_notebook(range(len(end_please["PN"]))):
    for i,val in enumerate(small_menu):
        dic[val] = end_please[val].iloc[0]
        for i in final["user_name"]:
            middle_dic[i] = dic

/home/team/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  after removing the cwd from sys.path.

HBox(children=(FloatProgress(value=0.0, max=110913.0), HTML(value='')))

KeyboardInterrupt:

In [187]:
middle_dic

{'KgQnRvsPSrJJTOCp-reYZA': {'PN': 0,
  'spicy': 1,
  'sweet': 0,
  'sour': 0,
  'saulty': 1,
  'mild': 0,
  'normal': 0,
  'for_vegitarian': 1,
  'for_mania': 1,
  'for_starter': 1}}

In [ ]:
with open('list.txt', 'rb') as f:
    data = pickle.load(f) # 단 한줄씩 읽어옴

In [ ]:
# dic

### 두명간의 상관계수 구하기

In [45]:
def person(data, name1, name2) : # name : 맛 
    sumX = 0 # X : name1의 맛 빈도 
    sumY = 0 
    sumPowX = 0 # X 제곱의 합
    sumPowY = 0
    sumXY = 0 # X*Y의 합 
    count = 0
    
    for i in data[name1] : 
        if i in data[name2][i] : # 같은 음식 맛 평가했을 때 
            sumY+=data[name2][i]
            sumPowX+=pow(data[name1][i],2)
            sumPowY+=pow(data[name2][i],2)
            sumXY+=data[name1][i]*data[name2][i]
            count+=1
    
    return ( sumXY- ((sumX*sumY)/count) )/ sqrt( (sumPowX - (pow(sumX,2) / count)) * (sumPowY - (pow(sumY,2)/count)))

In [ ]:
person(딕셔너리 이름, '유저 네임1','유저 네임2')

In [48]:
taste_food(js, spicy, salty)

NameError: name 'spicy' is not defined

### 전체 인원과의 상관계수 구하기

In [ ]:
def food_top_match(js, name, index=3, taste_function =  taste_food) :
    li = []
    for i in data_food_dic : 
        if name != i :#자기 자신이 아닐 때만
            li.append((taste_function(data,name,i),i)) # 상관계수 구하고 li에 추가
    li.reverse() #내림차순 
    return li[:index]

In [ ]:
data_food_dic = {
    '음식 이름' :
        {'맛' : 빈도},
    ...
    }

유저이름 , 영화이름 , 평점 
a           백설공주   1
b           아이언맨   5
c           해운대     3.5
d           사일런트힐 ?

- 피어슨 상관계수 (-1 ~  1)

In [23]:
type(final['menu'][0])

str

In [ ]:
# test
taste_food(data_food_dict,'맛','음식 이름')

In [ ]:
# test
top_match(data_food_dic, '음식 이름','맛')

In [ ]:
def getRecommendation (data,person,sim_function=sim_pearson):
    result = top_match(critics, person ,len(data))
    
    simSum=0 # 유사도 합을 위한 변수
    score=0 # 맛평가 합을 위한 변수
    li=[] # 리턴을 위한 리스트
    score_dic={} # 유사도 총합을 위한 dic
    sim_dic={} # 맛평가 총합을 위한 dic
 
    for sim,name in result: # 튜플이므로 한번에 
        if sim<0 : continue #유사도가 양수인 사람만
        for movie in data[name]: 
            if movie not in data[person]: #name이 평가를 내리지 않은 음식
                score+=sim*data[name][movie] # 그사람의 맛 호/불호 * 유사도
                score_dic.setdefault(movie,0) # 기본값 설정
                score_dic[movie]+=score # 합계 구함
 
                # 조건에 맞는 사람의 유사도의 누적합을 구한다
                sim_dic.setdefault(movie,0) 
                sim_dic[movie]+=sim
 
            score=0  #영화가 바뀌었으니 초기화한다
    
    for key in score_dic: 
        score_dic[key]=score_dic[key]/sim_dic[key] # 평점 총합/ 유사도 총합
        li.append((score_dic[key],key)) # list((tuple))의 리턴을 위해서.
    li.sort() #오름차순
    li.reverse() #내림차순
    return li

In [ ]:
# test
getRecommendation(data_food_dic, '사람')